@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
@keyframes tracking-in-expand-fwd {
    0% {letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
    }}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color1: #b5d4e2;
    --color2: #96b4c2;
    --color3: #7794a2;
    --color4: #587582;
    --color5:#395562;
}

header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: var(--color1);
}

.logo {
    max-width: 20rem;
}


.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}


.section-principal{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.titulo-principal{
    font-family: 'Roboto', sans-serif;
    font-size: 150px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-image: url(./Proyecto\ nuevo\ \(1\).webp);
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: tracking-in-expand-fwd 2s ease-out;
}


.descripcion-principal{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    grid-area: descripcion;
    color: black;
    padding: 30px;
}




@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: var(--color3);
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}